<p id="notice"><%= notice %></p>


<table>
    <tbody>
      <tr>
        <th colspan="2">Información:</th>
      </tr>
      <tr>
        <td class="a1" width="23%"><strong>Nombre :</strong></td>
        <td class="a1" width="77%"><%= @author.name %></td>
        </tr>

    </tbody>
</table>

<%= link_to 'Modificar', edit_author_path(@author) %> |
<%= link_to 'Atras', authors_path %>
